@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "hypr";
  default: true;
  prefersdark: false;
  color-scheme: "dark";

  /* Surfaces: Depth for the Navy Background */
  --color-base-100: #151c37; 
  --color-base-200: #1b2341;
  --color-base-300: #242d4d;
  --color-base-content: #f4f1ed; /* Bone text on navy background */

  /* Brand: The "Poster" colors */
  --color-primary: #ff7e2e;          /* HYPR Orange */
  --color-primary-content: #151c37;  /* Navy text on Orange buttons (Sharp!) */
  
  --color-secondary: #988f88;        /* Steel Grey */
  --color-secondary-content: #151c37;
  
  --color-accent: #f4f1ed;           /* Bone Highlight */
  --color-accent-content: #151c37;
  
  --color-neutral: #1b2341;          /* Elevated Navy for Navbars/Docks */
  --color-neutral-content: #f4f1ed;

  /* Functional: High-Intensity Neon */
  --color-info: #3abff8;
  --color-info-content: #151c37;
  --color-success: #36d399;
  --color-success-content: #151c37;
  --color-warning: #fbbd23;
  --color-warning-content: #151c37;
  --color-error: #ff4d4d;            /* The "Punchy" Red fix */
  --color-error-content: #ffffff;

  /* UI Styling: Sporty & Sharp */
  --radius-selector: 0.25rem; /* Squarer buttons feel more athletic */
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --border: 1px;
  --font-display: "Kanit", sans-serif;
  --font-body: "Inter", sans-serif;
}